*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
   
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%,
                             rgba(45,80,253,1) 100%);
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
h1{
    font-size: 38px;
    text-align: center;
    padding-bottom: 20px;

}
#container {
    color: azure;
    backdrop-filter: blur(10px);
    
    background-color: rgba(28, 8, 182, 0.10);
    width: 500px;
    aspect-ratio: 12/12;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
   

    border-radius: 75px;
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.4) ;
    border-top: 1px solid rgba(255, 255, 255, 0.404) ;
    padding-bottom: 25px;
    padding-top: 25px;
}
select{
    border-radius: 8px;
    padding: 10px;
   
    width: 80%;
    
}
 input{
    border-radius: 5px;
    padding: 10px;
    
    
    width: 75%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#convert, #reset{
    border-radius: 8px;
    padding: 8px;
   
    width: 80%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 50, 50);
}
#convert:hover{
    background-color: rgb(60, 0, 255);
    color: red;
}
#reset:hover{
    background-color: rgb(60, 0, 255);
    color: red;
}
#result{
    background-color: rgb(252, 252, 252);
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: #000;
    
}
label{
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 15px;
}
select, input, #result{
   border: 2px solid black;
}
